<section class="about-us">
  <div class="img-full-cover au-img"></div>
  <div class="aux-div">
    <h2>Sobre la aplicación</h2>
    <p>
      Este es un pequeño desarrollo sobre un sistema que otorga créditos a nuestros clientes y ahora queremos ampliar
      la oferta a cuentas de ahorro <br/>
      Sistema desarrollado baja el contexto de aplicación a una vacante de trabajo en Avantika.
    </p>
  </div>
</section>

<section class="about-us">
  <div class="aux-div">
    <h2>Sobre la Avantika</h2>
    <p>
      AVANTIKA inicia operaciones ofreciendo servicios y soluciones para atender las necesidades de un mercado en
      constante cambio. Hoy en día colaboramos muy de cerca con nuestros clientes brindando soluciones y servicios de
      alto nivel al igual que el suministro de bienes y equipos TICs.
    </p>
  </div>
  <div class="img-full-cover au-img2"></div>
</section>

<section class="container contacto">
  <h2 class="text-center">Contacto:</h2>
  <div class="contacto-info">
    <div class="contacto-img"></div>
    <p>
      <b>Edgar Ricardo Corona Mendoza</b><br />
      coronam.edgar@gmail.com <br />
      5517001249
    </p>
  </div>
</section>
