<header class="nav-main-header fixed-top">
  <div class="header-main">
    <nav class=" navbar navbar-expand-md navbar-light navs-header">
      <div class="logos" [routerLink]="['/']" (click)="collapseMenu()">
        <img class="img-creditos" src="assets/img/avantika.png" alt="creditos">
        <h2 class="title-text">Créditos <p><span>Avantika</span></p>
        </h2>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" (click)="collapseMenu()">
            <a class="nav-link" [routerLink]="['/']">Inicio</a>
          </li>
          <li class="nav-item dropdown" *ngIf="token">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Cuentas de Ahorro
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="collapseMenu()">
              <a class="dropdown-item" [routerLink]="['/cuentas_ahorro/altas']">Altas</a>
              <a class="dropdown-item" [routerLink]="['/consulta','cuentas_ahorro']">Consultas</a>
            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="token">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Transacciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="collapseMenu()">
              <a class="dropdown-item" [routerLink]="['/transacciones','deposito']">Depósitos</a>
              <a class="dropdown-item" [routerLink]="['/transacciones','retiro']">Retiros</a>
              <a class="dropdown-item" [routerLink]="['/consulta','transacciones']">Consultas</a>
            </div>
          </li>
          <li class="nav-item" (click)="collapseMenu()" *ngIf="token">
            <a class="nav-link" [routerLink]="['/register']">Registro Cliente</a>
          </li>
          <li class="nav-item" (click)="collapseMenu()" *ngIf="!token">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item" (click)="collapseMenu()" *ngIf="token">
            <a class="nav-link" [routerLink]="['/']" (click)="cerrarSession()">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<div class="app">
  <router-outlet></router-outlet>
</div>

<footer class="site-footer">
  <div class="grid-footer container">
    <div>
      <h3>Cuentas de Ahorro</h3>
      <nav class="nav-foot">
        <a [routerLink]="['/cuentas_ahorro/altas']">Altas</a>
        <a [routerLink]="['/consulta','cuentas_ahorro']">Consultas</a>
      </nav>
    </div>
    <div>
      <h3>Transacciones</h3>
      <nav class="nav-foot">
        <a [routerLink]="['/cuentas_ahorro','deposito']">Depósitos</a>
        <a [routerLink]="['/transacciones','retiro']">Retiros</a>
        <a [routerLink]="['/consulta','transacciones']">Consultas</a>
      </nav>

    </div>
  </div>
  <p class="copyright">
    <a href="https://www.avantika.mx/aviso-de-privacidad-y-proteccion-de-datos-personales?hsLang=es-mx"
      target="_blank">Aviso de Privacidad y Protección de Datos Personales</a>
  </p>
</footer>
